

footer {
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight; 500; 
}

.name {
	color: #F15B31;
	font-weight: 700;
}

a { 
 	border-bottom: 2px solid transparent;
 }

a:hover {
	background-color: white;
	color: black;
}


.clearfix:after {
visibility: hidden;
display: block;
content: "";
clear: both;
height: 0;
font-size: 0;
}